<div id="projectsIndex" class="grid row m-3 mt-5" style="margin: auto;">

  {% assign sortedprojects = site.projects | sort:'order' %}

  {% for project in sortedprojects %}

  {%- assign project_type = "local" -%}
  {%- assign project_id = project.name | slugify -%}
  {%- assign project_img = project.image -%}
  {%- assign project_name = project.name -%}
  {%- assign project_desc = project.description -%}
  {%- assign project_tools = project.tools -%}

  {%- if project.external_url -%}
  {%- assign project_url = project.external_url -%}
  {%- assign external = true -%}
  {%- else -%}
  
  {%- if project.fordisplayonly -%}
  {%- assign project_url = "" -%}
  {%- else -%}
  {%- assign project_url = project.url | relative_url -%}
  {%- endif -%}

  {%- assign external = false -%}

  {%- endif -%}

  {% include projects/project-card.html %}

  {% endfor %}

</div>

<!-- remove empty href tags -->
<script>
  const alinks = document.querySelectorAll('a.card')
  function checkHREF() {
    alinks.forEach((alink, index) => {
      if (alink.getAttribute("href") == "") {
        alink.removeAttribute("href")
        const fordisplayonly = alink.querySelector('.overlay')
        alink.onmouseover = function () {
          fordisplayonly.style.opacity = '1'
        }
        alink.onmouseout = function () {
          fordisplayonly.style.opacity = '0'
        }
      }
    })
  }
  window.onload = checkHREF
</script>
