<!DOCTYPE html>

<!-- 404 page -->

<html lang="en">

<head>
  <style>
    body {
      display: flex;
      min-height: 100vh;
    }
  
    body>div {
      margin: auto;
    }
  </style>
</head>

{% include head.html %}

<body>
  <div class="container">
    <div class="wrapper p-5 text-center">
      <h1 style="font-weight: bold">Error 404</h1>
      <h3 class="mt-3">Page not Found!</h3>
      {% include elements/button.html text="Go back home"
      icon="fa-circle-arrow-left" style="outline-danger" %}
    </div>
  </div>
</body>

</html>