<footer class="mt-auto text-center">
  <small class="text-secondary">
    theme adapted from <a class="a-link text-secondary"
      href="https://github.com/YoussefRaafatNasry/portfolYOU"><strong>portfolYOU</strong></a>
  </small>
  <br>
  <small class="text-secondary">
    coded
    by <a class="a-link text-secondary" href="https://github.com/enricocid"><strong>enricocid</strong></a> and
    <a class="a-link text-secondary" href="https://github.com/ivandorte"><strong>{{ site.author.name }}</strong></a>
  </small>
</footer>