<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- Masonry JS -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

<!-- Initialize all tooltips and masonry layout -->
<script>
$(function () {
    $('[data-bs-toggle="tooltip"]').tooltip()
})

// init Masonry
var grid = $('.grid')

if (grid.attr("id") === "projectsIndex") {
  // init Masonry after all images have loaded
  grid.imagesLoaded(function () {
    // move to 3 columns layout when the number of projects increases
    if (this.images.length > 20) {
      $('.col-md-6').addClass('col-md-4').removeClass('col-md-6')
    }
    grid.masonry()
  })
} else {
  grid.onload = grid.masonry({ 
    horizontalOrder: true 
  })
}
</script>
