.project.card {
  margin: 16px auto;
  text-decoration: none !important;
  overflow: hidden;
  border-radius: 8px;

  &:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);

    .badge {
      background-color: var(--fa-border-color);
      color: var(--fa-bg);
    }

    .fa-stack-2x {
      color: $primary;
    }

    .fa-solid {
      color: $text-white;
    }

    .inner img {
      transition: all 0.5s ease;
      transform: scale(1.25);
    }

    .card-img-top {
      filter: none;
    }

    .fa-hand-point-up {
      animation-name: rotate;
      animation-duration: 1.0s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(45deg);
      }
    }
  }

  .card-img-top {
    width: 100%;
    object-fit: cover;
    padding: 0%;
    filter: grayscale(75%);
    overflow: hidden;

    &:hover:not(.post) {
      filter: none;
    }
  }
}

.inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.project.card h5 {
  transition: color 0.3s ease-out;
}

.project.card:hover h5,
.project.card:focus h5 {
  color: $primary;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;

  .badge {
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
    border-radius: 0px 8px 8px 0px;
  }
}